@model ReservaFacil.Application.ViewModels.UsuarioViewModel;

@{
    Layout = null;
}

@if (Model != null && Model.Usuarios.Any())
{
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="w-40">Nome</th>
                <th scope="col" class="w-20 text-center">Matrícula</th>
                <th scope="col" class="w-20 text-center">Perfil</th>
                <th scope="col" class="w-10 text-center">Ativo?</th>
                <th scope="col" class="w-10 text-center">Ações</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var usuario in Model.Usuarios)
            {
                var ativo = usuario.Ativo ? "Sim" : "Não";

                <tr>
                    <td>@usuario.Nome</td>
                    <td class="text-center">@usuario.Matricula</td>
                    <td class="text-center">@Model.Perfis.FirstOrDefault(x => x.Id == usuario.IdPerfil)!.Nome</td>
                    <td class="text-center">@ativo</td>
                    <td class="text-center">
                        <a class="cursor-pointer" onclick="editarUsuario(@usuario.Id)">
                            <i class="fa-solid fa-user-pen text-color-primary"></i>
                        </a>

                    </td>
                </tr>
            }
            </tbody>
            <tfoot>
        </table>
    </div>

    @Html.Partial("_Paginacao", (Model.PaginaAtiva, Model.QuantidadePaginas))
}
else
{
    <p>Não há registros!!</p>
}